alabaster==0.7.12
alembic==1.4.1
anaconda-client==1.7.2
anaconda-project==0.8.3
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1602546829425/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astroid @ file:///D:/bld/astroid_1602489308066/work
astropy==4.0.3
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
awscli==1.18.164
azure-core @ file:///home/conda/feedstock_root/build_artifacts/azure-core_1601967527579/work
azure-storage-blob @ file:///home/conda/feedstock_root/build_artifacts/azure-storage-blob_1599697492384/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.shutil-get-terminal-size==1.0.0
bcrypt @ file:///D:/bld/bcrypt_1602546733559/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bitarray @ file:///D:/bld/bitarray_1602952215542/work
bkcharts==0.2
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1599478779128/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
blinker==1.4
bokeh @ file:///D:/bld/bokeh_1603280997700/work
boto==2.49.0
botocore==1.19.4
Bottleneck @ file:///D:/bld/bottleneck_1602497486791/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1602537445122/work
chardet @ file:///D:/bld/chardet_1602255574834/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
comtypes==1.1.7
conda==4.9.0
conda-package-handling @ file:///D:/bld/conda-package-handling_1602877000415/work
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1602213867597/work
contextlib2==0.6.0.post1
coverage==5.3
cryptography @ file:///D:/bld/cryptography_1602614359326/work
cycler==0.10.0
Cython @ file:///D:/bld/cython_1602367529523/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1602029610262/work
databricks-cli==0.13.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distributed @ file:///D:/bld/distributed_1602493493849/work
docker @ file:///D:/bld/docker-py_1602632134627/work
docker-pycreds==0.4.0
docutils @ file:///D:/bld/docutils_1602628438656/work
eli5 @ file:///home/conda/feedstock_root/build_artifacts/eli5_1592226488443/work
entrypoints @ file:///D:/bld/entrypoints_1602701951950/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
executing==0.5.3
fastcache @ file:///D:/bld/fastcache_1602440774291/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1601874335748/work
Flask==1.1.2
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1602700749102/work
future @ file:///D:/bld/future_1602538577781/work
get-variable-name==0.0.2
gevent @ file:///D:/bld/gevent_1602543305683/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1588651542737/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1603460643560/work
glob2==0.7
gorilla==0.3.0
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1602067273230/work
greenlet @ file:///D:/bld/greenlet_1602289415574/work
h5py @ file:///D:/bld/h5py_1602551956383/work
HeapDict==1.0.1
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
hypothesis @ file:///home/conda/feedstock_root/build_artifacts/hypothesis_1603210668560/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///D:/bld/imagecodecs_1602637571292/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
intervaltree==3.0.2
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isodate==0.6.0
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1602591728846/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///D:/bld/jedi_1592619562975/work
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==5.2.0
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
keyring @ file:///D:/bld/keyring_1602701402839/work
kiwisolver @ file:///D:/bld/kiwisolver_1602517426007/work
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1602435527887/work
libarchive-c @ file:///D:/bld/python-libarchive-c_1602422846791/work
livereload==2.6.3
llvmlite==0.34.0
locket==0.2.0
lunr==0.5.8
lxml @ file:///D:/bld/lxml_1603105033648/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1595925083607/work
Markdown==3.3.2
MarkupSafe @ file:///D:/bld/markupsafe_1602267515311/work
matplotlib @ file:///D:/bld/matplotlib-suite_1602600992856/work
mccabe==0.6.1
menuinst @ file:///D:/bld/menuinst_1602541260727/work
mistune @ file:///D:/bld/mistune_1602381923828/work
mkdocs==1.1.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.11.0
mock @ file:///D:/bld/mock_1602395119602/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
mpmath==1.1.0
msgpack @ file:///D:/bld/msgpack-python_1602380949353/work
msrest @ file:///home/conda/feedstock_root/build_artifacts/msrest_1599590147834/work
multipledispatch==0.6.0
mypy-extensions @ file:///D:/bld/mypy_extensions_1603202021477/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///D:/bld/nbconvert_1602715589117/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1601342677072/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.4.4
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook @ file:///D:/bld/notebook_1602720392067/work
numba @ file:///D:/bld/numba_1599085049111/work
numexpr @ file:///D:/bld/numexpr_1602669950074/work
numpy @ file:///D:/bld/numpy_1603047752645/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1598029012711/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1603237186851/work
pandocfilters==1.4.2
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1598988093657/work
parso==0.7.0
partd==1.1.0
path @ file:///D:/bld/path_1602413403505/work
pathlib2==2.3.5
pathspec==0.8.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow @ file:///D:/bld/pillow_1603406833950/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1603219298745/work
pluggy @ file:///D:/bld/pluggy_1603384461566/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prometheus-flask-exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1602329810226/work
prompt-toolkit==1.0.15
protobuf==3.13.0
psutil @ file:///D:/bld/psutil_1602264219517/work
ptyprocess==0.6.0
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pyasn1==0.4.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat @ file:///D:/bld/pycosat_1602278109330/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycrypto @ file:///D:/bld/pycrypto_1602428870129/work
pycurl==7.43.0.6
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
PyJWT==1.7.1
pylint @ file:///D:/bld/pylint_1602598332921/work
PyNaCl @ file:///D:/bld/pynacl_1602614429413/work
pyodbc @ file:///D:/bld/pyodbc_1602326899697/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyreadline @ file:///D:/bld/pyreadline_1602253143868/work
pyrsistent @ file:///D:/bld/pyrsistent_1602260150376/work
PySocks @ file:///D:/bld/pysocks_1602327025506/work
pytest==6.1.1
pytest-arraydiff==0.3
pytest-astropy==0.7.0
pytest-astropy-header==0.1.2
pytest-doctestplus @ file:///home/conda/feedstock_root/build_artifacts/pytest-doctestplus_1596302165162/work
pytest-openfiles @ file:///home/conda/feedstock_root/build_artifacts/pytest-openfiles_1591909410901/work
pytest-remotedata @ file:///home/conda/feedstock_root/build_artifacts/pytest-remotedata_1600536992671/work
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server @ file:///home/conda/feedstock_root/build_artifacts/python-language-server_1600306384607/work
pytz==2020.1
PyWavelets @ file:///D:/bld/pywavelets_1602504662693/work
pywin32==227
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1602283314110/work
pywinpty @ file:///D:/bld/pywinpty_1602377770565/work
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1601436771964/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
querystring-parser==1.2.4
regex @ file:///D:/bld/regex_1603450410144/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1602094471915/work
rsa==4.5
Rtree==0.9.4
ruamel-yaml-conda @ file:///D:/bld/ruamel_yaml_1602430572275/work
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn @ file:///D:/bld/scikit-learn_1603020048192/work
scipy @ file:///C:/ci/scipy_1597686737426/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1599592695803/work
Send2Trash==1.5.0
shap @ file:///D:/bld/shap_1600703645951/work
simplegeneric==0.8.1
singledispatch @ file:///home/conda/feedstock_root/build_artifacts/singledispatch_1602339038283/work
sip==4.19.24
six==1.15.0
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1600387841693/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1588651577140/work
snowballstemmer==2.0.0
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1591583091437/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1597058540894/work
spyder @ file:///D:/bld/spyder_1599019574284/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1599014740803/work
SQLAlchemy==1.3.13
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
-e git+https://github.com/Naykoh/repo-projet-bd.git@b582228731ea5d5b67112e6c8e522d97e06ae8b4#egg=src&subdirectory={{ cookiecutter.repo_name }}
statsmodels @ file:///D:/bld/statsmodels_1602600200762/work
sympy @ file:///D:/bld/sympy_1602465837198/work
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
terminado @ file:///D:/bld/terminado_1602679984498/work
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1601589267960/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1602171507552/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typed-ast==1.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
ui==0.1.4
ujson @ file:///D:/bld/ujson_1602282247783/work
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
varname==0.4.0
waitress==1.4.4
watchdog @ file:///D:/bld/watchdog_1602389856814/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client @ file:///D:/bld/websocket-client_1602272693654/work
Werkzeug==1.0.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1603129634666/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1602260090416/work
win-unicode-console @ file:///D:/bld/win_unicode_console_1603158713750/work
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1602463555786/work
xgboost==1.2.1
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1602583799765/work
xlwings==0.20.8
xlwt==1.3.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1602852756910/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///D:/bld/zope.interface_1602253619779/work
